#about {
  background: #feca4a;
}

.about .left {
  width: 400px;
  height: 400px;
  background: url("../img/cycleman.jpeg");
  margin: auto auto;
  background-size: cover;
  background-position: top;
  /* clip-path: inset(5% 20% 15% 10%); */
  box-shadow: 0.5rem 0.5rem #000, -0.5rem -0.5rem rgba(250, 247, 47, 0.993);
}

.about .right {
  width: 50%;
  margin:auto auto;
}
.about .right h1 {
  font-size: 35px;
  font-weight: 600;
  color: rgb(70, 21, 21);
}
.about .right p {
  font-size: 20px;
  font-weight: 500;
  color: rgb(70, 21, 21);
}
