.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../img/contactbg.jpg');
    /*background-size: cover;*/

}

.contact .content{
  margin-top:20vh;
    max-width: 800px;
    text-align: center;
}

.contact .content h1{
    font-size: 40px;
    font-weight: 500px;
    color: #000;
    border-bottom: 2px solid red;
}

.contact .content p{
    font-weight: 300px;
    color: rgb(70, 21, 21);
    font-size: 20px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactinfo .box{
    position: relative;
    padding: 20px 0px;
    display: flex;
}

.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: rgb(70, 21, 21);
    flex-direction: column;
    font-weight: 400px;
}

.container .contactinfo .box .text h3{
    font-weight: 500px;
    color: #000;
    font-size: 25px;
}

.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500px;
}

.contactform .inputbox{
     position: relative;
     width: 100%;
     margin-top: 10px;
}

.text1{
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactform .inputbox span{
    position: absolute;
    left: 0px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactform .inputbox .text1:focus ~ span,
.contactform .inputbox .text1:valid ~ span

{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactinfo{
        margin-bottom: 40px;
    }
    .container .contactinfo,
    .contactform{
        width: 100%;
    }
}