@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
:root{
  --yellow:#feca4a;
  --violet:#5031a9;
  --bold:700;
  --extrabold:900;
  --regular:400;
}
body {
  background: var(--violet);
  color: #ffffff;
  font-family:'Montserrat','serif';
  font-weight: var(--regular);
}
.section {
  min-height: 100vh;
  padding:20px;
}
.header {
  height: 100%;
  width: 100%;
  padding:0;
}
.navbar {
  min-height: 15vh;
  background-color:var(--violet);
  box-shadow: 0px 6px 13px -1px rgba(10, 10, 10, 0.575);
  overflow: hidden;
}
.navbar a {
  /* list-style-type: none; */
  float: left;
  color:#fff;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  width:20%;

}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.navbar a:hover{
  color:var(--yellow);
}
.navbar a.icon{
  display: none;
}
.flex {
  display: flex;
  flex-direction: row;
}
.intro .right {
  width: 400px;
  height: 400px;
  background: url('../img/cycleman.jpeg');
  margin:5%;

/*  
  background: linear-gradient(
      to right bottom,
      rgba(219, 11, 94, 0.705),
      rgba(111, 0, 237, 0.705)
    ),
    url("../img/cycleman.jpeg"); */
    background-size: cover;
    background-position: top;
    /* clip-path: inset(5% 20% 15% 10%); */
    box-shadow: 0.5rem 0.5rem #000, -0.5rem -0.5rem rgba(250, 247, 47, 0.993);
}
.intro .left {
  width: 50%;
  padding:10%;
}
.intro .left  h1{
    font-size:40px;
    font-weight: var(--regular);
}
#name{
    color:#F8AB07;
    font-size:70px;
    display: block;
    margin:20px 0;
    font-weight:var(--extrabold);
}
.intro .left p{
    font-size:25px;
    margin-left:20%;
}
@media screen and (max-width:768px) and (min-width:481px){

  .flex{
    flex-direction:column;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a:first-child{margin-top:12px;}
  .navbar a.icon  {
    float:right;
    display:block;
    color:var(--yellow);
  }
  .intro .left{
    width:100%;
    padding:10%;
  }
  .intro .right{
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--yellow);;
    width:350px;
    height:350px;
    margin:20px auto;
  }
}
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
