.skills{
    background:#5031a9;
    color:yellow;
    text-align:center;
}
.skills .title{
    display: inline-block;
    height:50px;
    width:300px;
    border-bottom:2px solid #feca4a;
    text-align:center;
    text-transform:uppercase;
    margin-bottom:5%;
}
.title h1{
    font-size:2.5rem;
}
.list {
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
}
.list li{
    list-style-type: none;
    flex-basis:33.3333%;
}
.list li img{
    height:200px;
    width:200px;
}
@media screen and (max-width: 800px) {
    .list li img{
        height:150px;
        width:150px;
    }
}