body{
    margin:0;
    padding:0;
    }

.header{
    background-color:black;
    padding: 20px;
}
.navbar{
    background-color: brown;
    padding: 20px;
    text-align: right;
}    

.navbar a{
    margin: 5px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    font-weight: bold;
}